.about{
    width:90%;
    height: 60vh;
    background:#a15556;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
   
}
.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;

}
.text{
    width: 550px;
    max-width: 100%;
    padding:  10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;


}
.text p{
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
     color: white;
    
}
@media screen and (max-width:1180px){
    .about{
        width:90%;
        height: auto;
        padding: 70px 0px;
    }

        }

    @media screen and (max-width:650px){
        .about .content .img{
            margin-bottom: 35px;
          

        }
 
}