*{
    margin:0px;
    padding: 0px;
}


 
    body{
        display: flex;
        justify-content: center;
        background: whitesmoke;
        align-items: center;



    }
    .container{
        display: flex;
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .card{
       height: 350px;
        margin:20px;
        width: 100%;
        box-shadow: 5px 5px 20px  black;
        overflow: hidden;
        text-align: center;
    }

    img{
        height: 350px;
        width: 100%;
        border-radius: 3px;
        transition:.5s;

    }

  .intro{
        height: 70px;
        width: 25%;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        color: black;
        
        transition: 5s;
        position: absolute;
        visibility: hidden;
    }

    h1{
        margin: 10px;
        font-size:40px ;
    }


    .card:hover p{
      
        visibility: visible;
    }
.card:hover img{
    transform: scale(1.1) ;
}
.card:hover .intro{
    height: 200px;
    visibility: visible;
    color:black;
    transform: scaleY(1.1) ;
}
p{
    font-size: 20px;
    margin: 20px;
   
}
.card:hover{
    cursor: pointer;
    text-align: center;
}
    
