*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
    body{
      background: #444343;
    }

    .card1 img{
          height: 350px;
          width: 50%;
          display: block;
          margin: 0 auto;
      }
      
 
    .nav{
      padding: 0 100px;
    }
    .nav-content{
      background-color: #444343;
      width: 100%;
      height: 80px;
      margin-top: -13%;
    }
    .nav-content ul{
      float: right;
      margin-right: 5%;
      /* margin-right: 10%; */
    }

    .nav-content ul li { 
      display: inline-block;
      line-height: 80px;
      margin: 0 2px;
     
     
    }
    .nav-content ul li a{
      color: white;
      font-size: 14px;
      width: max-content;
      padding: 13px 25px;
      background: #a15556;
      border: 1px solid #e3e3e3;
      border-radius: 17px;
      box-sizing: border-box;
     
      
    }
    .nav-content ul li .active.home{
      color: white;
      font-size: 14px;
      width: max-content;
      padding: 13px 35px;
      background: #a15556;
      border: 1px solid #e3e3e3;
      border-radius: 17px;
      box-sizing: border-box;
      
    }
    a.active,a:hover{
      transition: 2s;
    
    }
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check {
display: none;
}
@media (max-width:952px){
.nav-content ul li a{
font-size: 12px;

}

}
@media (max-width:858px){
.checkbtn{
display: block;

}
ul{
position: fixed;
width: 100%;
height: 100vh;
top: 80px;
text-align: center;
left: -100%;
transition: all .5s;


}
.nav-content ul li{
display: block;
margin: 8% 20%;
line-height: 30px;
margin-top: -40px;
margin-left: 50%;;

}
.nav-content ul li{
font-size: 20px;

}
#check:checked ~ ul{
left: 0;
}
}

.nav-content ul li{


text-align: center;
}
    .nav .log .company-name{
    height: 100%;
    width:32%;
    margin-top: -1%;
    margin-left: -5%; 

    }


.home-image img{
margin-top: 2%;
width:100%;
height: 670px;

}


@media (max-width:952px){


.home-image img{
margin-top: 2%;
width:100%;
height: 350px;

}

}
@media (max-width:952px)
{

.col{
  margin: auto;
  width: 90%;

}
.card{
  margin: auto;
  width: 90%;
}
}


@media screen and (max-width: 1280px) {
 .card{
  width: 80%;

 }
 .section-aboutus .container.text-center .row .col{

  width: 80%;
 }
 .nav .log{
  margin-left: 6%;
 }

}


    .title{
          width: 80%;
          text-align: justify;
          color: white;
          display: block;
          margin: 0 auto;
      }
      .title1{
          text-align: center; 
          color: white;
      }

        .collections{
        margin-top: -1.5%;
        }
        .card-group .card .card-body {
          margin: 0 auto;
          
        }

        .card-group .card .card-body img{
          width: 60px;
          height: 60px;
          display: block;
          margin: 0 auto;
        }
        .card-group .card .card-body p{
          text-align:justify;
        }
        .card-group .card .card-body h5{
          text-align:center;
        }
        .card-museum{
          width: 80%;
          margin-left: 10%;
         
        }
        .col{
          height: 400px;
        }
        .card-text{
          height: 250px;
        }
    

        .card-image{
          width: 80%;
          margin-left: 10%;
          height: 350px;

          
        }



button{
border: 1px solid #e3e3e3;
border-radius: 16px;
box-sizing: border-box;
font-family: Source Sans Pro;
background: #a15556;
left: 0;
padding: 10px;
position: relative;
text-align: left;
top: 0;
width: 23%;
font-size: 14.5px;

text-align: center;
}
.new-footer{
background: #a15556;
color: white; 
}
.row1{
margin-top: 5%;
padding-top: 2%;
}
.column1 {
float: left;
width: 33.33%;

text-align: center;
height: auto;
margin-top: 2%;
font-size: 15px;

}
.column1 p{
  font-family:sans-serif;
  color: white;
  font-size: 15px;



}
.column1 .company{
  margin-top: 6%;
}

/* Clear floats after the columns */
.row1:after {
content: "";
display: table;
clear: both;
}
.cpy{
text-align: center;
padding-bottom: 1%;
}
.card-group .card .card-body p{
text-align: center;
}
/* responsive */

.section-aboutus {
margin-top: 5%;
margin-bottom:5%;
display: block;
margin-top: 14%;    
background: #a15556; 
color: white;
width: 80%; 
margin: 0 auto; 

padding: 4%;
}
.section-aboutus .container.text-center .row {
height: auto;
}
.section-aboutus .container.text-center .row .col {
text-align: justify;
height: auto;
display: block;
margin: 0 auto;

}



/* about us */
.section-aboutus .container.text-center .row .col img{
width: 90%;

height: auto;
display: block;
margin: 0 auto;
}

/* .col img{
height:300px;
width: 450px;
} */

.abouts{
color: white; margin-top:3%; padding-bottom:2%
}
.cpy{
  font-size: 15px;
}



@media screen and (max-width: 1280px) {
.nav .log{
margin-top: -1%;

}
.nav .log .logo{
height: 230px;
width:230px;  
margin-top: -3%;
}
.nav .log .company-name{
height: 350px;width:350px; margin-top: -13%;margin-left: -15%; 

}
.new-footer .row1 .column1{
  width: 100%;

  }

.cpy{
  font-size: 16px;
}


}
