body {
	padding: 0;
	margin: 0;
}

nav {
	/* position: fixed; */
	/* z-index: 10; */
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #444343;
    width: 100%;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.8%;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding:2%;
	margin-left: 2%;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	color: white;
	font-size: 14px;
	width: max-content;
	padding: 10px 20px;
	background: #a15556;
	border: 1px solid #e3e3e3;
	border-radius: 17px;
	box-sizing: border-box;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width:1180px) {
	
    nav .logo {
		float: none;
		width: 50%;
		justify-content: center;
        
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: 50%;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: white;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
        color: black;
		background-color: white;
		font-size: 16px;
	}
	nav :checked ~ .links {
		bottom: 0;
       
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 50px;
		background: #444343;
		width:0.5%;
		
        
    }
	.row.contact img{
		margin-top: 15%;
	}


}


nav .logo-img{
    height: 90%;
    width:50%;  
    margin-top: 0%;

}
nav .log-name{
	width: 100%;

}

.nav .log{
    margin-top: -3.5%;
    margin-left: 0%;

    }
